<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fzy.dao.TeacherMapper">
<!--    建议使用方式2-->
<!--    javaType 用来指定实体类中属性的类型-->
<!--    oftype  用来指定映射到list或者map的类型-->


<!--    方式2-->
<!--    使用子查询-->
<!--    id会变成0，需要额外写id配置-->

    <select id="getTeachaeAll2"  resultMap="getStudentById2" >
        select * from teacher
    </select>
    <select id="getStudentById" resultType="student">
        select * from student where pkid = #{id}
    </select>
    <resultMap id="getStudentById2" type="teacher">
        <collection property="student" javaType="ArrayList" select="getStudentById" ofType="student" column="pkid"/>
    </resultMap>
<!--    方式1-->
<!--    连表查询-->
<!--    集合要用oftype-->
    <select id="getTeachaeAll"  resultMap="getStudentById" >
        select a.pkid,s.name as sname,a.name as tname from teacher a left join student s on a.pkid = s.tid
    </select>
    <resultMap id="getStudentById" type="teacher">
        <result property="name" column="tname"/>
        <collection property="student" ofType="student">
            <result property="name" column="sname"/>
        </collection>
    </resultMap>
</mapper>